@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: normal;
}
ul{
    list-style: none;
}
/* style reset */

#wrap{
    width: 500px;
    height: 700px;
    margin: 10px auto;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: 5px 5px 5px rgb(187, 187, 187);
}
.title h1{
    padding: 4px 8px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.title h1 img{
    width: 18px;
    height: 18px;
}
.title h1 p{
    margin-left: 4px;
    line-height: 18px;
    margin-bottom: 0;
}

.icon .iconGray:hover{
    background-color: #d3d3d3;
}
.icon .iconRed:hover{
    background-color: #e81123;
}
.title1{
    display: flex;
    justify-content: space-between;
}
.menu .menuList{
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.menuBtns{
    background-color: white;
    border: 1px solid transparent;
    padding: 2px;
    cursor: pointer;
}
.menuBtns:hover{
    background-color: rgb(211, 233, 242);
    border: 1px solid skyblue;
}
.insideMenus{
    position: fixed; 
    z-index: 1000;
    display: none;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 3px rgb(133, 133, 133);
}
.insideMenuList{
    margin: 0;
    padding: 0;

}
.insideMenuList li{
    padding: 0;
    width: 180px;
    margin: 2px;
    padding-left: 20px;
}

.insideMenuList button{
    text-align: left;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    padding: 2px;
    width: 87%;
    cursor: pointer;
}

.insideMenuList li:hover{
    background-color: skyblue;
}

#insideBtns.helpMenu2{
    border-top: 1px solid rgb(204, 204, 204);
}