@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: normal;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* style reset */
 
#wrap{
    width: 500px;
    height: 700px;
    margin: 10px auto;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 0px 0px 8px rgb(187, 187, 187);
}
.title h1{
    padding: 2px 8px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.title h1 img{
    width: 18px;
    height: 18px;
}
.title h1 a{
    color: black;
    margin-left: 4px;
    line-height: 18px;
    margin-bottom: 0;
}
.icon .iconGray:hover{
    background-color: #d3d3d3;
}
.icon .iconRed:hover{
    background-color: #e81123;
}
.title1{
    display: flex;
    justify-content: space-between;

}
.menu .menuList{
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: 0;
    padding: 3px;
}

.menuBtns{
    border: 1px solid transparent;
    padding: 2px;
    color: black;
}
.menuBtns:hover{
    background-color: #cce8ff;
    border: 1px solid skyblue;
}
.insideMenus{
    top: 68px;
    position: fixed; 
    z-index: 1000;
    display: none;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 3px rgb(133, 133, 133);
}
.insideMenuList{
    margin-top: 3px;
    margin: 0;
    padding: 0;

}
.insideMenuList li{
    padding: 0;
    margin: 2px;
}
.insideMenuList a{
    color: black;
    padding: 3px;
    background-color: transparent;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.insideMenuList li span{
    display: inline-block;
    padding: 0 10px 0 20px ;
}
.insideMenuList li:hover{
    background-color: #91c9f7;
}
.insideMenuList .editMenu1{
    border-bottom: 1px solid rgb(204, 204, 204);
}
.insideLine{
    margin-left: 9%;
    height: 1px;
    width: 90%;
    background-color: #d7d7d7;
}

.dDay{
    font-size: 20px;
    width: 300px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    line-height: 40px;
    /* background-color: #b2f8a3; */
    background-color:#cce8ff;
    display: block;
    margin: auto;
    margin-top: 30px;
}

#birthLeft{
    font-size: 30px;
    font-weight: bold;
}

.birthday{
    width: 300px;
    display: block;
    /* background-color: #91c9f7; */
    height: 30px;
    margin: auto;
}

.birthday ul{
    color: black;
    display: flex;
    justify-content: space-between;
}

.birthday ul li{
    background-color: #91c9f7;
    width: 100px;
    text-align: center;
}

.birthday a{
    color: black;
}
