@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: normal;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* style reset */

#wrap{
    width: 500px;
    height: 700px;
    margin: 10px auto;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 3px 3px 8px rgb(187, 187, 187);
}
.title h1{
    padding: 2px 8px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.title h1 img{
    width: 18px;
    height: 18px;
}
.title h1 p{
    margin-left: 4px;
    line-height: 18px;
    margin-bottom: 0;
}
.icon .iconGray:hover{
    background-color: #d3d3d3;
}
.icon .iconRed:hover{
    background-color: #e81123;
}
.title1{
    display: flex;
    justify-content: space-between;

}
.menu .menuList{
    display: flex;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: 0;
    padding: 3px;
}

.menuBtns{
    border: 1px solid transparent;
    padding: 2px;
    cursor: pointer;
    color: black;
}
.menuBtns:hover{
    background-color: rgb(211, 233, 242);
    border: 1px solid skyblue;
}
.insideMenus{
    top: 68px;
    position: fixed; 
    z-index: 1000;
    display: none;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 3px rgb(133, 133, 133);
}
.insideMenuList{
    margin-top: 3px;
    margin: 0;
    padding: 0;

}
.insideMenuList li{
    padding: 0;
    width: 210px;
    margin: 1px;
    padding-left: 15px;
}
.insideMenuList a{
    color: black;
    text-align: left;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    padding: 2px;
    width: 87%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.insideMenuList li span{
    display: inline-block;
}
.insideMenuList li:hover{
    background-color: skyblue;
}
.insideMenuList .editMenu1{
    border-bottom: 1px solid rgb(204, 204, 204);
}

.insideMenuList .helpMenu1{
    border-bottom: 1px solid rgb(204, 204, 204);
}